				@font-face {
					font-family: 'syne';
					src: url('/wp-content/uploads/useanyfont/2716SYNE.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/2716SYNE.woff') format('woff');
				}

				.syne{font-family: 'syne' !important;}

				.et_gf_syne{background:none !important;font-family:syne;text-indent:0 !important;font-size:25px;}

		