				@font-face {
					font-family: 'syne';
					src: url('/wp-content/uploads/useanyfont/2716SYNE.woff2') format('woff2'),
						url('/wp-content/uploads/useanyfont/2716SYNE.woff') format('woff');
					font-display: auto;
				}

				.syne{font-family: 'syne' !important;}

		