/*
Theme Name: Porto
Theme URI: http://www.portotheme.com/wordpress/porto
Author: P-THEMES
Author URI: http://www.portotheme.com/
Description: Porto Responsive Wordpress + eCommerce Theme.
Version: 6.0.2
License: Commercial
License URI: http://themeforest.net/licenses/regular_extended
Tags: woocommerce, corporate, ecommerce, responsive, blue, black, green, white, light, dark, red, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: porto
*/

/*************** ADD YOUR CUSTOM CSS HERE  ***************/

.bypostauthor { display: block; }

#header .header-main{
	background-color: #000d16 !important;
	max-height: 80px;
}

#header .main-menu > li.menu-item > a {
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: #ffffff;
    padding: 10px 16px 10px 16px;
}

#header .main-menu > li.menu-item.active:hover > a, #header .main-menu > li.menu-item:hover > a {
    background-color: transparent;
    color: #00f1ff;
}

.btn-enviar-fale-conosco{
 background: #000D16 !important;
 height: 42px !important;
 width: 180px !important;
 left: 359px !important;
 top: 523px !important;
 border-radius: 10px !important;
 margin-left: 144px !important;
 color: #fff !important;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea .campo-fale-conosco{
border-radius: 10px !important;
 justify-content: center !important;
 align-items: center !important;
 size: 45 !important;
}
